
.vs/vkTestSolution/v14/.suo
*.db
*.ipch
*.obj
*.pdb
*.recipe
*.pch
*.lastbuildstate
*.tlog
*.ipdb
*.idb
*.exe
*.iobj
*.ilk
*.spv
vkTestProj/x64/Release/vkTestProj.vcxproj.FileListAbsolute.txt
vkTestProj/x64/Release/vkTestProj.log
vkTestProj/x64/Release/vkTestApp.Build.CppClean.log
vkTestProj/x64/Debug/vkTestProj.vcxproj.FileListAbsolute.txt
vkTestProj/x64/Debug/vkTestProj.log
vkTestProj/x64/Debug/vkTestApp.Build.CppClean.log
vkTestProj/shaders_bin/vert.spv
vkTestProj/shaders_bin/terrainVS.spv
vkTestProj/shaders_bin/terrainPS.spv
vkTestProj/shaders_bin/skyboxVS.spv
vkTestProj/shaders_bin/skyboxPS.spv
vkTestProj/shaders_bin/simpleVS.spv
vkTestProj/shaders_bin/shadowPS.spv
vkTestProj/shaders_bin/postProcessPS.spv
vkTestProj/shaders_bin/litPS.spv
vkTestProj/shaders_bin/frag.spv
vkTestProj/shaders_bin/emissivePS.spv
vkTestProj/shaders_bin/depthPS.spv
.vs/vkTestSolution/v16/Browse.VC.opendb
.vs/vkTestSolution/v16/Browse.VC.db-wal
.vs/vkTestSolution/v16/Browse.VC.db-shm
.vs/vkTestSolution/v16/.suo
vkTestProj/shaders_bin/depthPS.spv
vkTestProj/shaders_bin/emissivePS.spv
vkTestProj/shaders_bin/frag.spv
vkTestProj/shaders_bin/litPS.spv
vkTestProj/shaders_bin/postProcessPS.spv
vkTestProj/shaders_bin/shadowPS.spv
vkTestProj/shaders_bin/simpleVS.spv
vkTestProj/shaders_bin/skyboxPS.spv
vkTestProj/shaders_bin/skyboxVS.spv
vkTestProj/shaders_bin/terrainPS.spv
vkTestProj/shaders_bin/terrainVS.spv
vkTestProj/shaders_bin/vert.spv
*.opendb
*.db-wal
*.db-shm
.vs/vkRenderer/v16/.suo
vkRenderer/x64/Debug/vkRenderer.log
vkRenderer/x64/Debug/vkRenderer.log
