
.vs/vkTestSolution/v14/.suo
*.db
*.ipch
*.obj
!xtensa/assets/models/**/*.obj
*.pdb
*.recipe
*.pch
*.lastbuildstate
*.tlog
*.ipdb
*.idb
*.exe
*.iobj
*.ilk
vkTestProj/x64/Release/
vkTestProj/x64/Debug/
.vs/vkTestSolution/v16/
vkTestProj/shaders_bin/
*.opendb
*.db-wal
*.db-shm
.vs/xtensa/v16/.suo
xtensa/x64/Debug/xtensa.log
xtensa/x64/Debug/xtensa.log
xtensa/baked/
x64/Debug/RayTracer.lib
xtensa/imgui.ini
*.lib
*.log
*.lib
*.tmp
xtensa/x64/Debug/xtensa.log
xtensa/x64/Debug/xtensa.vcxproj.FileListAbsolute.txt
xtensa/x64/Release/xtensa.vcxproj.FileListAbsolute.txt
x64/Debug/Chess.lib
x64/Debug/SysCore.lib
x64/Debug/Chess.lib
x64/Debug/SysCore.lib
xtensa/x64/Debug/
x64/Debug/SysCore.lib
x64/Debug/Chess.lib
xtensa/x64/Debug/
xtensa/textures/*.*
xtensa/_unused_assets/
xtensa/xtensa.vcxproj.user
xtensa/x64/Release/
xtensa/screenshots/chess.tif
x64/Debug/SysCore.lib
x64/Debug/Chess.lib
xtensa/x64/Debug/xtensa.log
xtensa/xtensa.vcxproj.user
xtensa/output/testRayTrace.bmp
xtensa/imgui.ini
xtensa/x64/Debug/
xtensa/external/VulkanSDK/1.2.189.2/
*.nes
xtensa/models/lion-crushing-a-serpent/source/Lion.zip
xtensa/models/lion-crushing-a-serpent/textures/ao.jpg
xtensa/models/lion-crushing-a-serpent/textures/bw10k.jpg
xtensa/models/lion-crushing-a-serpent/textures/nm.jpg
xtensa/models/lion-crushing-a-serpent/textures/sp.jpg
.claude/
*.vsidx
/.vs

!external/vulkan/Bin/*.exe
!external/**/*.lib
!xtensa/scenes/chess/libs/*.lib

*.user
xtensa/LocalConfig.ini
