
.vs/vkTestSolution/v14/.suo
*.db
*.ipch
*.obj
*.pdb
*.recipe
*.pch
*.lastbuildstate
*.tlog
*.ipdb
*.idb
*.exe
*.iobj
*.ilk
*.spv
vkTestProj/x64/Release/
vkTestProj/x64/Debug/
.vs/vkTestSolution/v16/
vkTestProj/shaders_bin/
*.opendb
*.db-wal
*.db-shm
.vs/vkRenderer/v16/.suo
vkRenderer/x64/Debug/vkRenderer.log
vkRenderer/x64/Debug/vkRenderer.log
vkRenderer/baked/
